/ExposingCppDataAsContextObject/ExposingCppDataAsContextObject/ExposingCppDataAsContextObject.pro.user
/ExposingCppDataAsContextObject/ExposingCppDataAsContextObject/main.cpp.autosave
/ExposingCppDataAsContextObject/ExposingCppDataAsContextObject.pro.user
/build-ExposingCppDataAsContextObject-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/.qmake.stash
/build-ExposingCppDataAsContextObject-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/ExposingCppDataAsContextObject.exe
/build-ExposingCppDataAsContextObject-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/main.o
/build-ExposingCppDataAsContextObject-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/moc_predefs.h
/build-ExposingCppDataAsContextObject-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/moc_propertywrapper.cpp
/build-ExposingCppDataAsContextObject-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/moc_propertywrapper.o
/build-ExposingCppDataAsContextObject-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/propertywrapper.o
/build-ExposingCppDataAsContextObject-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/qrc_qml.cpp
/build-ExposingCppDataAsContextObject-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/qrc_qml.o
/build-ExposingCppDataAsContextObject-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/Makefile
/build-ExposingCppDataAsContextObject-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/Makefile.Debug
/build-ExposingCppDataAsContextObject-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/Makefile.Release
/build-ExposingCppDataAsContextObject-Desktop_Qt_5_9_0_MinGW_32bit-Debug/.qmake.stash
/build-ExposingCppDataAsContextObject-Desktop_Qt_5_9_0_MinGW_32bit-Debug/debug/ExposingCppDataAsContextObject.exe
/build-ExposingCppDataAsContextObject-Desktop_Qt_5_9_0_MinGW_32bit-Debug/debug/main.o
/build-ExposingCppDataAsContextObject-Desktop_Qt_5_9_0_MinGW_32bit-Debug/debug/qrc_qml.cpp
/build-ExposingCppDataAsContextObject-Desktop_Qt_5_9_0_MinGW_32bit-Debug/debug/qrc_qml.o
/build-ExposingCppDataAsContextObject-Desktop_Qt_5_9_0_MinGW_32bit-Debug/Makefile
/build-ExposingCppDataAsContextObject-Desktop_Qt_5_9_0_MinGW_32bit-Debug/Makefile.Debug
/build-ExposingCppDataAsContextObject-Desktop_Qt_5_9_0_MinGW_32bit-Debug/Makefile.Release
/ExposingCppDataAsContextObject/ExposingCppDataAsContextObject.pro.user.4.8-pre1
/ExposingCppDataAsContextObject/propertywrapper.h.autosave.uuoPCz
