/ExposingCppDataAsContextObject/ExposingCppDataAsContextObject/ExposingCppDataAsContextObject.pro.user
/ExposingCppDataAsContextObject/ExposingCppDataAsContextObject/main.cpp.autosave
/ExposingCppDataAsContextObject/ExposingCppDataAsContextObject.pro.user
